{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block main %}
    <h1>博客列表</h1>
    <div class="row row-gap-4"> <!-- 移除 row-cols-2 -->
        <!-- 第一个卡片 -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <a href="#">Django 基础知识</a>
                </div>
                <div class="card-body " style="height: 100px">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'image/avatar.jpeg' %}" class="rounded-circle" width="30" height="30" alt="">
                        wwj
                    </div>
                    <div>发布时间: 2024年11月17日  11:28</div>
                </div>
            </div>
        </div>
        <!-- 第二个卡片 -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <a href="#">Django 基础知识</a>
                </div>
                <div class="card-body " style="height: 100px">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'image/avatar.jpeg' %}" class="rounded-circle" width="30" height="30" alt="">
                        wwj
                    </div>
                    <div>发布时间: 2024年11月17日  11:28</div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}